@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,700;0,900;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    border:0;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #3a3a3a;
}

/* headings and banner*/
#banner {
    background: url(../images/pexels-pixabay-459301.jpg) no-repeat center center;
    height: 100px;
    background-color: #aa47c9;
}

#banner-text {
    text-transform: uppercase;
    letter-spacing: 3.5px;
    font-size: 260%;
    margin: 0px 0 px 30px;
    text-align: center;
    background-color: rgba(250, 249, 246, .6);
}

#banner{
    height:300px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#banner-image{
    height:100px;
    width: 100%;
}


#about p {
    line-height: 26px;
    text-align: justify;
    clear: both;
    margin: 5%;
    padding: 5px;
}

/* nav links */
#menu{
    font-size: 110%;
    letter-spacing: 4px;
    line-height: 75px;
    float: left;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-left: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    font-weight: 700;
    text-shadow: 2px 2px 5px #aa47c9;;
}

.active{
    font-weight: 700;
    text-shadow: 2px 2px 5px #aa47c9;;
}