@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Parisienne&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 65px;
    color: #312e2efb;
}

footer {
    padding-top: 30px;
}

#underline h2 {
    text-decoration: underline solid #312e2efb;
    padding: 15px 30px 15px;
    margin-left: 2%;
    margin-right: 2%;
  }

.blogs {
    text-decoration: none;
    list-style-type: none;
    padding: 15px 30px 15px;
    color: inherit;
}

.blogs h3 {
    margin-left: 2%;
    margin-right: 2%;
}

.h2-container {
    padding: 15px 30px 15px;
    margin-left: 2%;
    margin-right: 2%;
}

.h2-links {
    text-decoration: underline solid #312e2efb;
    color: #312e2efb;
}

.blog-about a {
    text-decoration: underline;
    color: #312e2efb;
}

p {
    line-height: 27px;
    text-align: left;
    clear: both;
    margin-left: 2%;
    margin-right: 2%;
    padding: 15px 30px 15px;
}

#decor-none a{
    text-decoration: none;
}

.background {
    position: relative;
    height: 100vh;
}

.background:before {
    background: url("../images/pexels-arın-turkay-1694980.jpg") center / cover;
    content: '';
    position: fixed;
    left: 0; right: 0; top: 0; bottom: 0;
    z-index: -1;
    opacity: .6;
    filter: blur(3px) hue-rotate(75deg);
}

/* headings and banner*/
#banner {
    background: url(../images/pexels-pixabay-459301.jpg) no-repeat center center;
    height: 200px;
    width: 100%;
    background-color: #9d47b8cb;
    overflow: hidden;
    position: relative;
}

#banner-text {
    text-transform: uppercase;
    letter-spacing: 3.5px;
    margin: 0 auto;
    padding: 10px 0;
    position: relative;
    font-size: 200%;
    text-align: center;
    background-color: rgba(250, 249, 246, .6);
    top: 50%;
    transform: translateY(-50%);
}

/* nav links */
#menu-2 {
    display: none;
}

#menu-1 {
    font-size: 110%;
    letter-spacing: 4px;
    line-height: 65px;
    float: left;
}

#menu-1 li {
    float: left;
    list-style-type: none;
    margin-left: 30px;
}

#menu-1 a {
    text-decoration: none;
    color: inherit;
}

#menu-1 a:hover {
    text-shadow: 2px 2px 3px #6b6a6a;
}

.active1 {
    text-shadow: 2px 2px 5px #6b6a6a;
}

/* intro to wellness */
#intro-q {
    padding-top: 15px;
    width: 100%;
}

#wellness {
    position: fixed;
}

#relax-img {
    width: 33%;
    margin: 0 auto;
}

#center-about {
    width: 33%;
    margin: 0 auto;
}

#parisienne {
    font-family: 'Parisienne', cursive;
    font-size: 50px;
}

.emphasis {
    font-size: 27px;
    text-align: center;
    letter-spacing: 3px;
}

#relax-img {
    width: 33%;
    margin: 0 auto;
}

/* intro image */
#circle-container {
    width: 300px;
    height: 300px;
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-image {
    background: url("../images/pexels-pixabay-355863.jpg") no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

/* food for wellness */
#banner2-container {
    width: 100%;
    position: relative;
    margin: 0 auto;
    display: flex;
}
#banner2-food {
    background: url("../images/pexels-engin-akyurt-1435735.jpg") no-repeat center center;
    height: 150px;
    width: 100%;
    margin: 2%;
    padding: 15px 30px 15px;
    overflow: hidden;
    position: relative;
}

/* holistic exercise */
#exercise {
    min-height: 250px;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.circlular {
    border-radius: 50%;
    margin: auto;
}

/* footer */
#widget {
    font-family: 'Parisienne', cursive;
    font-size: 25px;
    line-height: 35px;
    height: 100%;
    width: 100%;
    padding: 15px 30px 15px;
}

/* food.html */
ul a {
    text-decoration: none;
    color: #312e2efb;
}

/* exercise.html */

.box-breathing {
    margin: 0 auto;
    width: 100px;
    height: 50px;
    border-radius: 50%;
    background-color: #8E8FE9;
    border: none;
    animation: box-breathing 16s infinite linear backwards;
}

@keyframes box-breathing {
    0% {width: 100px; height: 100px;}
    25% {width: 100px; height: 100px;}
    50% {width: 200px; height: 200px;}
    75% {width: 200px; height: 200px;}
    100% {width: 100px; height: 100px;}
}

/* media queries */
/* for large to medium screens sizes from 1112px wide and down */
@media screen and (max-width: 1112px){

    #banner-text h1{
        font-size: 100%;
        margin: 0 auto;
    }

    #relax-img{
        width: 100%;
        float: left;
        clear: both;
        padding: 0;
    }
}

/* For medium screens sizes from 768px wide and down */
@media screen and (max-width: 768px){

    h2 {
        font-size: 17px;
    }

    #menu-1 {
        display: none;
    }

    #menu-2 {
        width:100%;
        text-align: center;
        display: inline-block;
        margin: 10px;
        letter-spacing: 1.5em;
        line-height: 41px;
    }

    #menu-2 li {
        display: inline-block;
        list-style-type: none;
    }

    .active2 {
        text-shadow: 2px 2px 3px #6b6a6a;
    }

    #banner-text h1 {
        font-size: 75%;
        margin: 0 auto;
    }

    .emphasis {
        font-size: 30px;
        letter-spacing: 3px;
    }

    #banner2-food {
        background: url("../images/pexels-engin-akyurt-1435735Small.jpg") no-repeat center center;
        height: 100px;
    }


}

/* For medium screens sizes from 470px wide and down */
@media screen and (max-width: 470px){

    body {
        line-height: 45px;
        font-size: 16px;
    }

    h2 {
        font-size: 17px;
    }

    .emphasis {
        font-size: 24px;
        letter-spacing: 5px;
    }
}