@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Parisienne&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 65px;
    color: #312e2efb;
}

h1, h2, h3 {
    color: #3d405a;
}

p {
    line-height: 27px;
    text-align: left;
    clear: both;
    margin-left: 2%;
    margin-right: 2%;
    padding: 15px 30px 15px;
}

footer {
    padding-top: 30px;
}

#underline h2 {
    text-decoration: underline solid #3d405a;
    padding: 15px 30px 15px;
    margin-left: 2%;
    margin-right: 2%;
}

.h2-container {
    padding: 15px 30px 15px;
    margin-left: 2%;
    margin-right: 2%;
}

.h2-links {
    text-decoration: underline solid #3d405a;
    color: #3d405a;
}

/* headings and banner*/
#banner1-container {
    height: 200px;
    width: 100%;
    background-color: #e9a172;
    position: relative;
    display: flex;
}

#banner1 {
    background: url(../images/pexels-césar-gaviria-1027467.jpg) no-repeat center center;
    height: 100%;
    filter: brightness(1.2);
    overflow: hidden;
    position: relative;
    flex-grow: 1;
}

#banner1-text {
    text-transform: uppercase;
    letter-spacing: 3.5px;
    margin: 0 auto;
    padding: 10px 0;
    position: relative;
    font-size: 200%;
    text-align: center;
    background-color: rgba(250, 249, 246, .6);
    top: 50%;
    transform: translateY(-50%);
}

/* nav links */
#menu-2 {
    display: none;
}

#menu-1 {
    font-size: 110%;
    letter-spacing: 4px;
    line-height: 65px;
    float: left;
}

#menu-1 li {
    float: left;
    list-style-type: none;
    margin-left: 30px;
}

#menu-1 a {
    text-decoration: none;
    color: inherit;
}

#menu-1 a:hover {
    text-shadow: 2px 2px 3px #6b6a6a;
}

.active1 {
    text-shadow: 2px 2px 5px #6b6a6a;
}

/* what is wellness */
#wellness {
    position: fixed;
}

#relax-img {
    width: 300px;
    margin: 0 auto;
    padding: 50px 0 20px;
    display: flex;
    justify-content: center;
    align-self: start;
}

.emphasis {
    font-size: 27px;
    text-align: center;
    letter-spacing: 3px;
    padding-bottom: 50px;
}

#parisienne {
    font-family: 'Parisienne', cursive;
    font-size: 50px;
}

/* What is wellness image */
#circle-container {
    width: 300px;
    height: 300px;
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-image {
    background: url("../images/pexels-pixabay-355863.jpg") no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

/* food for wellness */
#banner2-container {
    width: 100%;
    position: relative;
    margin: 0 auto;
    display: flex;
}
#banner2-food {
    background: url("../images/pexels-freestocksorg-1002778.jpg") no-repeat center center;
    height: 150px;
    width: 100%;
    margin: 2%;
    padding: 15px 30px 15px;
    overflow: hidden;
    position: relative;
}

/* holistic exercise */
#exercise {
    min-height: 250px;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.circlular {
    border-radius: 50%;
    margin: 1%;
}

/* footer */
#widget {
    background-color: #e9a172;
    font-size: 15px;
    line-height: 20px;
    height: 100%;
    width: 100%;
    padding: 15px 30px 15px;
}

/* food.html */
ul a {
    text-decoration: none;
    color: #312e2efb;
}

.blogs {
    text-decoration: none;
    list-style-type: none;
    padding: 15px 30px 15px;
    color: inherit;
}

.blogs h3 {
    margin-left: 2%;
    margin-right: 2%;
}

.blog-about a {
    text-decoration: underline;
    color: #312e2efb;
}

/* exercise.html */
.box-breathing {
    margin: 0 auto;
    width: 100px;
    height: 50px;
    border-radius: 50%;
    background-color: #8E8FE9;
    border: none;
    animation: box-breathing 16s infinite linear backwards;
}

@keyframes box-breathing {
    0% {width: 100px; height: 100px;}
    25% {width: 100px; height: 100px;}
    50% {width: 200px; height: 200px;}
    75% {width: 200px; height: 200px;}
    100% {width: 100px; height: 100px;}
}

/* media queries */
/* for medium screens sizes from 768px wide and down */
@media screen and (max-width: 768px){

    h2 {
        font-size: 17px;
    }

    #menu-1 {
        display: none;
    }

    #menu-2 {
        width:100%;
        text-align: center;
        display: inline-block;
        margin: 10px;
        letter-spacing: 1.5em;
        line-height: 41px;
    }

    #menu-2 li {
        display: inline-block;
        list-style-type: none;
    }

    .active2 {
        text-shadow: 2px 2px 3px #6b6a6a;
    }

    #banner-text h1 {
        color: inherit;
        font-size: 75%;
        margin: 0 auto;
    }

    .emphasis {
        font-size: 30px;
        letter-spacing: 3px;
    }

    #banner2-food {
        background: url("../images/pexels-freestocksorg-1002778.jpg") no-repeat center center;
        height: 100px;
    }
}

/* for medium screens sizes from 470px wide and down */
@media screen and (max-width: 470px){

    body {
        line-height: 45px;
        font-size: 16px;
    }

    .emphasis {
        font-size: 24px;
        letter-spacing: 5px;
    }
}